<div class="container">
  <div class="row mt-5">
    <div class="col col-6 offset-3">
      <div class="card">
        <div class="card-header text-center text-info text-uppercase">
          Update details
        </div>

        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                />
                <div
                  *ngIf="submitted && f.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                />
                <div
                  *ngIf="submitted && f.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="username">role</label>
                <input
                  type="text"
                  formControlName="role"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                />
                <div
                  *ngIf="submitted && f.role.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.role.errors.required">
                    role is required
                  </div>
                </div>
              </div>

              <div class="form-group col">
                <label for="username">email</label>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div
                  *ngIf="submitted && f.email.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.email.errors.required">
                    email is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Save
              </button>
              <a routerLink="/teacher" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
