<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">
    <img src="../../../assets/vclogo.png" alt="" width="60" height="30" />
    ViitorCloud Task
  </a>
  <div class="navbar-collapse">
    <div class="navbar-nav ml-auto">
      <div *ngIf="user" class="navbar-text float-left">
        {{ user.email }}
      </div>
      <a *ngIf="user" [routerLink]="['/dashboard']" class="nav-item nav-link"
        >Dashboard</a
      >
      <a
        *ngIf="!user"
        [routerLink]="['/signin']"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Signin</a
      >
      <a
        *ngIf="!user"
        [routerLink]="['/signup']"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Signup</a
      >
      <!-- <a
        *ngIf="user"
        [routerLink]="['/teacher']"
        class="nav-item nav-link"
        routerLinkActive="active"
        >teacher dashboard</a
      >

      <a
        *ngIf="user"
        [routerLink]="['/student']"
        class="nav-item nav-link"
        routerLinkActive="active"
        >student-dashboard</a
      > -->

      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" [routerLink]="link.path">{{ link.text }}</a>
      </li>
      <a *ngIf="user" class="nav-item nav-link" (click)="handleSignout()"
        >Logout</a
      >
    </div>
  </div>
</nav>
