<div class="container">
  <div class="row mt-5">
    <div class="col col-6 offset-3">
      <div class="card">
        <div class="card-header text-center text-info text-uppercase">
          Sign In Please
        </div>

        <div class="card-body">
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter Email"
                  required
                />
                <div *ngIf="submitted && h.email.errors" class="text-warning">
                  <div *ngIf="h.email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="h.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-3 col-form-label"
                >Password</label
              >
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Enter password"
                  required
                />

                <div
                  *ngIf="submitted && h.password.errors"
                  class="text-warning"
                >
                  <div *ngIf="h.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="h.password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-primary" type="submit">
                Sign In
              </button>
            </div>
          </form>

          <div class="text-center" style="padding-top: 5px;">
            <button class="btn btn-success btn-block" [routerLink]="['/phone']">
              Login with phone
            </button>
          </div>
          <p>Are you new.?? Please <a routerLink="/signup">register here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
